<div id="comment_see">
  <strong><%= link_to "Add Comment", '', :onclick => "showHideDiv('comment_see','commenting'); return false;" %></strong>
</div

<%= form_tag add_comment_path(:id => id) do %>

<fieldset id="commenting" style="visibility:hidden" class="form">
<legend>Add a Comment</legend>

  <table class="form">
    <tr>
	  <th>Title:</th><td><%= text_field_tag 'title', nil, :size => 50 %></td>
    </tr>
    <tr>
      <th>Text:</th><td><%= text_area_tag 'comment', nil, :cols=>60, :rows=>3 %><td>
    </tr>	
    <tr>
      <td colspan="2" align="center"><%= submit_tag "Add comment" %></td>
    </tr>
  </table>  
</fieldset>

<% end %>

