<br>
<% if !comments.empty? %>
<fieldset class="info" style="width:75%">
  <legend>Comments:</legend>
  <table>
  <% for comment in comments %>
    <tr>
      <td>(<%= comment.user.login %>)</td>
      <td><%= comment.created_at.strftime("%m-%d-%Y %I:%M%p") %></td>
      <td class="no-wrap-line"><%= comment.title %>: </td>
	  <td><%= comment.comment%></td>
	  <% if comment.user_id == current_user.id %>
	    <td><div class="linkborder"><%= link_to "Edit", edit_comment_path(comment) %></div></td>
		<td><div class="linkborder"><%= link_to 'Delete', comment, :confirm => 'Are you sure?', :method => :delete %></div></td>
	  <% end %>
	</tr>
  <% end %>
  </table>
<% end %>
</fieldset>